# Database settings
POSTGRES_DB=messages_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=citus-coordinator
POSTGRES_PORT=5432

POSTGRES_POOL_SIZE=20
POSTGRES_MAX_OVERFLOW=30

DEBUG=False

# JWT (use same as social-network)
JWT_SECRET_KEY=secretkey123
JWT_ALGORITHM=HS256

# Port settings
WEB_PORT=8001

# Tarantool settings
TARANTOOL_HOST=tarantool
TARANTOOL_PORT=3301
TARANTOOL_USER=admin
TARANTOOL_PASSWORD=admin
